.site-navbar_toggle--btn {
  display: none;
}
.site-header {
  z-index: 999;
  padding: 19px 0 18px 0;
  background-color: var(--backgroundPrimary);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link--logo {
    display: inline-block;
    width: 178px;
  }
  &__end {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  &__btn {
    padding: 9px 22px 8px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    background-color: var(--btnBg);
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    &:hover {
        color: #173A56;
        background-color: var(--backgroundPrimary);
    }
  }
  &__mode {
    padding: 0;
    background: none;
    border: none;
  }
  &__mode svg {
    width: 25px;
    height: 25px;
  }
}

.site-navbar {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  
}
.site-navber__item--link {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    color: var(--maniTextColor);
    &:hover{
        font-weight: 600;
        color: #c32323;
        font-size: 15px;
        color: var(--maniTextColor);
    }
}

  .app {
    &--light {
        background-color: var(--backgroundPrimary);
        color: var(--colorSecondary);
    }
    &--dark {
        background-color: var(--mainBg);
        color: var(--colorPrimary);
        .site-header__link {
          .site-header__link--logo path:nth-child(5){
            fill: var(--colorPrimary);
        }
      }
    }

    .btn{
        text-transform: capitalize;
    }
}

@media screen and (max-width: 980px) {
  .site-header {
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }
  .site-navbar_toggle--btn {
    display: inline-block;
    background: none;
    border: none;
  }
  .site-navbar_toggle--btn svg {
    width: 25px;
    height: 25px;
  }
  .site-header__end {
    position: absolute;
    top: 13%;
    right: 0%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    background-color: #c32323;
    row-gap: 20px;
    z-index: 999;
  } 
  .site-navbar__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
  }
  .site-navbar__item {
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .showtonav {
    display: flex;
  }
  .hidetonav {
    display: none;
  }
}