.price-table__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--mainText);
}

.price-table__subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--mainText);
}
.price-table__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.price-table__item {
  padding: 24px 76px 32px 73px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  &:hover {
    background-color: var(--mainTextHover);
    transition: 0.2s linear;
  }
  &--title {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--mainText);
  }
  &:hover &--title {
    color: #fff;
  }
  &--subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 40px;
    color: var(--mainText);
  }
  &:hover &--subtitle {
    color: #fff;
  }
}
.price-text {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: var(--mainTextHover);
}
.price-table__item:hover .price-text {
  color: #fff;
}
.dollar-sign {
  position: absolute;
  top: 24px;
  right: 87px;
  display: inline-block;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.payment-term {
  display: inline-block;
  margin-top: 4px;
  margin-left: 8px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #afafaf;
}
.price-table__item:hover .payment-term {
  color: #e0e0e0;
}
.price-table__desc--item {
  margin-bottom: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--mainText);
}
.price-table__item:hover .price-table__desc--item {
  color: #fff;
}
.price-table__desc--item:last-child {
  margin-top: 0;
  margin-bottom: 38px;
}
.price-table__item--btn {
  padding: 11px 19px;
  border: none;
  border-radius: 8px;
  background-color: var(--mainTextHover);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.price-table__item:hover .price-table__item--btn {
  background-color: #fff;
  color: var(--mainTextHover);
}

@media (max-width: 1020px) {
  .price-table__subtitle {
    margin-bottom: 74px;
  }
  .price-table__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .price-table__item {
    margin-bottom: 32px;
  }
  .price-table__item:last-child {
    margin-bottom: 0;
  }
}
