@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/poppins-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v20-latin-500.woff2') format('woff2'),
       url('./assets/fonts/poppins-v20-latin-500.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/poppins-v20-latin-600.woff2') format('woff2'),
       url('./assets/fonts/poppins-v20-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
       url('./assets/fonts/poppins-v20-latin-700.woff') format('woff');
}
:root {
    /* colors */
    --colorPrimary: #fff;
    --colorSecondary: #000;
    --mainTextColor: #22343D;
    /* background */
    --mainBg:#1F2E35;
    --backgroundPrimary: #fff;
    --backgroundSecondary: #000;
    --btnBg: #02897A;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    background-color: var(--backgroundPrimary);
    /* color: var(--colorPrimary); */
}

main {
    flex-grow: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
